html,
body {
  background-color: #eadbab;
  padding: 0;
  margin: 0;
  font-family: Raleway, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: rgb(0, 2, 1);
}

.color-nav {
  background-color: rgb(0, 2, 1);
}

h1 {
  color: #000201;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  border-top: 1px solid rgb(0, 2, 1);
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway/Raleway-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

table {
  width: 100%;
}

table th {
  border: 1px solid #ddd;
}

table td {
  border: 1px solid #ddd;
}

.image-container {
  width: 100vw;
  height: 50vh;
  position: relative;
  max-width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
  left: 50%;
  right: 50%;
}

.image-container .image {
  width: 100%;
  height: 100%;
  position: relative !important;
  object-fit: cover;
}

@media (max-width: 576px) {
  .post-card {
    width: 100vw;
    height: 50vh;
    position: relative;
    max-width: 100vw;
    margin-left: -50vw;
    margin-right: -50vw;
    left: 50%;
    right: 50%;
  }
}